:root{
    --blue:#34568B
}

body{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    overflow: hidden;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.786);
    border-bottom: 3px solid var(--blue);
}
.nav-bar .logo{
    margin-left: 70px;
    color: brown;
}
.logo span,
nav .current{
    
    color: var(--blue);
}
nav{
    margin-right: 150px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: red;
    font-size: 1.1rem;
    cursor: pointer;
}
/* navabr-finish */

/* section-start */
#showcase{
    min-height: 400px;
    background: url("img/showcase.jpg");
    background-repeat: no-repeat;
    background-position: 0 -400px;
    text-align: center;
    color: whitesmoke;
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
#showcase p{
    font-size: 20px;
}

/* letter bölümü start */
#news-letter{
    background-color: rgba(128, 128, 128, 0.786);
    height: 70px;
    
}
.news-letter-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
}
.news-letter-wrapper button{
    background-color: var(--blue);
    color: whitesmoke;
    border: none;
    outline: none;
    height: 33px;
    padding: 3px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.news-letter-wrapper button:hover{
   opacity: 0.5;
}
.news-letter-wrapper input{
    padding: 4px;
    height: 25px;
    width: 250px;
}
/* letter bölümü finish */

/* box bölümü start */
.box-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box-wrapper .box{
    width: 30%;
    text-align: center;
    padding: 10px;
}
.box img{
    width: 90px;
}
/* letter bölümü finish */
/* footer başlangıç */
.footer-wrapper{
    background-color: var(--blue);
    height: 60px;
    display:flex ;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
   
}
/* footer finish */

/* about sayfası başlangıç */
.about-main-wrapper{
   
    padding:15px 120px;
    display: flex;
    column-gap: 70px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.dark-page{
    color:whitesmoke;
    background-color: rgba(128, 128, 128, 0.786);
    padding: 10px;
}
.about-main-wrapper article{
    width: 70%;
    margin: auto;
    
}
.about-main-wrapper aside{
    width: 30%;
    margin:auto;
    margin-top: 20px;
}
/* about sayfası bitiş */

/* services başlangıç */
.services-main-wrapper{
    margin: 10px 120px;
    display: flex;
    column-gap: 80px;
    box-sizing: border-box;
   
}
.services-main-wrapper .services-main-col{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.services-main-col .box{
   
    padding: 20px 20px;
    margin-bottom: 3px;
    background-color: rgba(172, 163, 163, 0.338);
    border: 1px solid #cccc;
    height: auto
}

.services-dark-page-form{
    width: 30%;
    background-color:rgba(128, 128, 128, 0.786);
    margin: auto;
    margin-top: 13px;
    padding: 10px;
    color: whitesmoke;
}
.services-dark-page-form input,textarea{
    width: 95%;
    padding: 5px;
}
.services-dark-page-form button{
    background-color:var(--blue) ;
    color: whitesmoke;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}
.services-dark-page-form button:hover{
    opacity: .5;
    transform: scale(0.9);
}
/* services bitiş */


   
